<!DOCTYPE html>
<html>
    <head>Users</head>
    <body>
        <h1>User</h1>
        <form action="userposttest" method="post">
            <label for="username">username</label>
            <input type="text">
            <label for="password">password</label>
            <input type="text">
            <button type="submit">submit</button>
        </form>
    </body>
</html>